<div id="<%= dom_id behavior %>">
  <p>
    <strong>Description:</strong>
    <%= behavior.description %>
  </p>

  <p>
    <strong>Competency:</strong>
    <%= behavior.competency.name %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= behavior.level.name %>
  </p>

</div>
